:root {
    --orange-color: #ff5900;
    --header-color: #000;
    --title-color: #21252b;
    --body-color: #282c34;
    --text-color: #abb2bf;
}

#top {
    background-color: var(--header-color);
    margin: 0;
    text-align: right !important;
    padding-right: 16;    
}

#navItem {
    color: #fff !important;
    font-size: 1.5em !important;
    margin-left: 35px;
    margin-right: 35px;
}

#navItem:hover {
    color: var(--orange-color) !important;
}

#containerNavId {
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
    z-index: 100;
}

footer {
    text-align: center !important;
    font-size: 18px !important;
    background-color: var(--header-color);
}

#navLinks {
    font-family: 'Staatliches', cursive !important;
    font-size: 30px;
    font-weight: bold;
}

body {
    font-family: 'Staatliches', cursive !important;
    background-color: var(--body-color) !important;
    color: var(--text-color) !important;
}

#nameEnd {
    color: var(--orange-color) !important;
    text-decoration: none;
}

#endPara {
    color: var(--orange-color) !important;
}

#nameEnd:hover {
    color: #fff !important;
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

#hamburgerButton {
    background-color: var(--orange-color) !important;
    color: white !important;
    z-index: 0;
    margin-right: 10px
}
